@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
:root
{
    --primary:#97BFB4;
    --secondary:#DD4A48;
    --error:#4F091D;
}

body
{
    margin:0;
    font-family: 'Roboto',sans-serif;
    background-color: #F5EEDC;
    font-size: 24px;
}
.App
{
  width:95%;
  margin:auto;
}
.title h1
{
  color:var(--secondary);
  font-family: 'Neonderthaw', cursive;
  font-size: 48px;
  font-weight: bold;
}
.title
{
 display: block; 
 text-align: center;
}
.form
{
  width: 100%;
  height: auto;

}
.custom-file-input
{
  height: 0;
  opacity: 0;
  width: 0;
}
.output
{
  text-align: center;
  
  width: 100%;
}
label{
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 48px;
  color: var(--primary);
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}
.progress-bar
{
  height: 7px;
  background-color: lightblue;
  transition-duration: 2s;
}
.Photogrid
{
  margin-top: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 6px;
  align-items: center;
}
.img
{
  width: 100%;
  max-height: 480px;
}


@media only screen and (min-width:414px) {
 
  .Photogrid
  {
    width: 100%;
    align-items: center;
  }
  .img
  {
    width: 100%;
    max-height: 100%;
  }
  
}
@media only screen and (min-width:980px) {
  .header
  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header h2
  {
    text-align:left ;
    font-weight: bold;
    font-family: 'Twinkle Star', cursive;
    
  }
  .App
  {
    width: 85%;
    margin: auto;
  }
  .Photogrid
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
  }
  .img
  {
    max-height: 480px;
  }
  .line
  {
    height: 2px;
    color: var(--secondary);
    width: 100%;
    background-color: var(--secondary);
  }

}